# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
*.cc
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
*.cmake
*.h
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
pubspec.lock
.vscode/settings.json
android/app/.cxx/Debug/25m1t636/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/25m1t636/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/25m1t636/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/25m1t636/arm64-v8a/build.ninja
android/app/.cxx/Debug/25m1t636/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/25m1t636/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/25m1t636/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/25m1t636/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/25m1t636/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/25m1t636/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/25m1t636/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/25m1t636/armeabi-v7a/build.ninja
android/app/.cxx/Debug/25m1t636/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/25m1t636/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/25m1t636/hash_key.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/25m1t636/x86/additional_project_files.txt
android/app/.cxx/Debug/25m1t636/x86/build.ninja
android/app/.cxx/Debug/25m1t636/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/25m1t636/x86/build_file_index.txt
android/app/.cxx/Debug/25m1t636/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/25m1t636/x86/CMakeCache.txt
android/app/.cxx/Debug/25m1t636/x86/android_gradle_build.json
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/25m1t636/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/25m1t636/x86/configure_fingerprint.bin
android/app/.cxx/Debug/25m1t636/x86/symbol_folder_index.txt
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/25m1t636/x86_64/additional_project_files.txt
android/app/.cxx/Debug/25m1t636/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/25m1t636/x86_64/build.ninja
android/app/.cxx/Debug/25m1t636/x86_64/build_file_index.txt
android/app/.cxx/Debug/25m1t636/x86_64/CMakeCache.txt
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/25m1t636/x86/prefab_config.json
android/app/.cxx/Debug/25m1t636/x86/metadata_generation_command.txt
android/app/.cxx/Debug/25m1t636/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/25m1t636/x86_64/android_gradle_build.json
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/25m1t636/x86_64/prefab_config.json
android/app/.cxx/Debug/25m1t636/x86_64/metadata_generation_command.txt
android/gradle.properties
android/gradle/wrapper/gradle-wrapper.properties
android/gradle.properties
android/app/.cxx/Debug/25m1t636/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/25m1t636/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/25m1t636/x86_64/symbol_folder_index.txt
android/gradle/wrapper/gradle-wrapper.properties
android/gradle.properties
android/settings.gradle
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/gradle.properties
android/gradle/wrapper/gradle-wrapper.properties
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
android/settings.gradle
android/gradle/wrapper/gradle-wrapper.properties
android/gradle.properties
ios/Flutter/Debug.xcconfig
ios/Podfile
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Podfile
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
